---
layout: default
title: snuffleupadata
bodyclass: homepage
custom_js:
  - /js/snuffleupadata.js
  - /js/lightbox.min.js
custom_css:
  - /css/lightbox.css
---


<div class="jumbotron">
  <h1 class="text-center"><img src="/img/hello_world.png" alt="snufflupadata"/></h1>

  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum augue ac lorem malesuada at rhoncus turpis condimentum. Maecenas commodo sem ac magna posuere ultrices. Proin ut felis ac odio consectetur rutrum vel quis sem.</p>
</div>

{% for snuffie in site.pages %}
  {% if snuffie.layout == 'snuffie' %}
    {% include snuffie.html page=snuffie content=snuffie.content %}
  {% endif %}
{% endfor %}

